In [2]:
#PROGRAM TO FIND THE NUMBERS WHICH IS DEVISIBLE BY 7 BUT NOT A MULTIPLE OF 5 BETWEEN 2000 TO 3200")
C=[]
for i in range(2000,3201):
  if i%7==0 and i%5!=0:
    C.append(i)

print(C)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [1]:
#PROGRAM TO ACCEPT THE USER'S FIRST AND LAST NAMEAND THEN GTTING THEM PRINTED INTHE REVERS ORDER WITH A SPACE
name=input("Enter The Full Name")
print("The Entered Name is : ",name)
T=name.split(" ")
s=T[1]+" "+T[0]
print("After Swapping : ",s)

Enter The Full NameAkansha Rathi
The Entered Name is :  Akansha Rathi
After Swapping :  Rathi Akansha

In [2]:
#Program To find the volume of the sphere

d=12
r=d/2
pi=22/7
V=4/3*pi*pow(r,3)

print("Volume Of the Sphere",V)

Volume Of the Sphere 905.142857142857

In [3]:
#TASK2
#PROGRAM WHICH ACCEPT A SEQUENCE OF COMMA-SEPRATED NUMBERS FROM CONSOLE AND GENERATE A LIST
t=input("Enter a comma seperated sequence")
t
c=[]
for i in t:
    if i!=",":
        c.append(int(i))
print(c)

Enter a comma seperated sequence1,5,3,2,5,7,8,9
[1, 5, 3, 2, 5, 7, 8, 9]

In [6]:
#"Program To Print A Pattern"
n=5    #number of line

for i in range(n):
    for j in range(i):
        print("*",end="")
    print("")
    
for i in range(n):
    for j in range(n-i):
        print("*",end="")
    print("")

*
**
***
****
*****
****
***
**
*

In [8]:
#"Program To Reverse A String")
st=input("Enter The String : ")
st
print("Revese OF The Entered String ")
S=""
L=len(st)
S=st[L-1: :-1]
print(S)

Enter The String : ArndcsveDRG
Revese OF The Entered String
GRDevscdnrA

In [10]:
#ques4
print("WE,THE PEOPLE OF INDIA,")
print("\t having solemnly resolved to constitute India into a SOVEREIGN,!")
print("\t\t SOCIALIST,SECULAR,DEMOCRATIC REPUBLIC")
print("\t\t  and to secure to all its citizens")

WE,THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,!
		 SOCIALIST,SECULAR,DEMOCRATIC REPUBLIC
		  and to secure to all its citizens